pandas==2.2.3
numpy==2.2.4
matplotlib==3.10.6
statsmodels==0.14.5
scikit-learn==1.7.0
tensorflow==2.20.0
keras==3.11.3
pandas-datareader==0.10.0
mplfinance==0.12.10b0
yfinance==0.2.65
protobuf==6.32.1